{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section>
  <div class="blogpage">
    <div class="container">
      <h2 class="blog__title1 inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.title }}
      </h2>
      {%- if section.settings.subheading != blank -%}
        <div class="blogsubheading" {{ section.shopify_attributes }}>
          <p class="subheading1">{{ section.settings.subheading }}</p>
        </div>
      {%- endif -%}
    </div>

    <div class="swiper newswiper container1">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            {% case block.type %}
              {% when 'column' %}
                <div class="review-img">
                  <div class="real-img">
                    <img
                      src="{{ block.settings.image | img_url:"master" }}"
                    >
                  </div>
                  <div class="add-info">
                    <span>
                      <svg width="94" height="15" viewBox="0 0 94 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M7.36364 11.0114L3.06818 14.1136L4.76136 9.06818L0.454545 5.95455H5.72727L7.36364 0.90909L9 5.95455H14.2727L9.96591 9.06818L11.6591 14.1136L7.36364 11.0114ZM27.098 11.0114L22.8026 14.1136L24.4957 9.06818L20.1889 5.95455H25.4616L27.098 0.90909L28.7344 5.95455H34.0071L29.7003 9.06818L31.3935 14.1136L27.098 11.0114ZM46.8324 11.0114L42.5369 14.1136L44.2301 9.06818L39.9233 5.95455H45.196L46.8324 0.90909L48.4688 5.95455H53.7415L49.4347 9.06818L51.1278 14.1136L46.8324 11.0114ZM66.5668 11.0114L62.2713 14.1136L63.9645 9.06818L59.6577 5.95455H64.9304L66.5668 0.90909L68.2031 5.95455H73.4759L69.169 9.06818L70.8622 14.1136L66.5668 11.0114ZM86.3011 11.0114L82.0057 14.1136L83.6989 9.06818L79.392 5.95455H84.6648L86.3011 0.90909L87.9375 5.95455H93.2102L88.9034 9.06818L90.5966 14.1136L86.3011 11.0114Z"
                          fill="url(#paint0_linear_162_5108)" />
                        <defs>
                          <linearGradient id="paint0_linear_162_5108" x1="-1" y1="8" x2="95" y2="8"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="1" stop-color="#FFB503" />
                            <stop offset="1" stop-color="#212326" stop-opacity="0.15" />
                          </linearGradient>
                        </defs>
                      </svg>
                    </span>
                    {%- if block.settings.Name != blank -%}
                      <p class="img-heading">{{ block.settings.Name }}</p>
                    {%- endif -%}
                  </div>
                </div>
                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext1">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte1">{{ block.settings.text }}</div>
                {%- endif -%}
            {% endcase %}
          </div>
        {% endfor %}
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Blog Section",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "Subheading"
    },

    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },

      {
      "type": "text",
      "id": "Name",
      "label": "Reviewer Name"
    },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Section",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".newswiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    autoplay:true,
    loop:true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
